.mainContainer {
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
}

.darkMode {
    background-color: #1f2336;
}

.lightMode {
    background-color: rgb(122, 86, 144);
}
