.formButton {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SunIcon {
    max-width: 25px;
    max-height: 25px;
    fill: var(--darkModeColor);
}

.SunIcon:hover {
    fill: #fce570;
    stroke-width: 1;
    stroke: #fce570;
    animation: SunRotation 5s linear infinite;
}

@keyframes SunRotation {
    to {
        transform: rotate(360deg);
    }
}

.MoonIcon {
    max-width: 25px;
    max-height: 25px;
}

.MoonIcon:hover {
    fill: #f6f1d5;
    cursor: pointer;
}

.MoonIcon:hover .star1 {
    fill: yellow;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: starMovement 2s linear infinite;
}

.MoonIcon:hover .star2 {
    fill: yellow;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: starMovement 2s 1s linear infinite;
}

@keyframes starMovement {
    0%,
    50%,
    100% {
        transform: translateX(0px);
    }

    15%,
    45% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(8px);
    }

    65%,
    95% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(-8px);
    }
}
