@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700;900&display=swap");

* {
    font-family: "Roboto Slab", serif;
}

:root {
    --lightModeColor: black;
    --darkModeColor: white;
}

.overlay {
    position: absolute;
    /* max-width: 1240px;
  max-height: 940px; */
    height: 90vh;
    width: 90vw;
    padding: 25px;
    display: flex;
    /* background: rgba(31, 29, 43, 0.775);  dark mode*/
    border-radius: 10px;
    flex-direction: column;
}

.lightMode {
    background: rgba(255, 255, 255, 0.375); /* light mode*/
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: var(--lightModeColor);
    --secondaryColor: rgb(47, 47, 47);
}

.darkMode {
    background: #3c405cd2;
    border: 0.01px solid #3c405c;
    color: var(--darkModeColor);
    --secondaryColor: rgb(176, 176, 176);
}

.topBox {
    display: flex;
    flex-direction: row;
    height: 5%;
    padding: 10px;
}

.topBoxLogoLeft {
    display: flex;
    width: 20%;
    align-items: center;
}

.topBoxIconsRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}
.topBoxIconsRightGrid {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    column-gap: 10px;
}

.bottomBox {
    display: flex;
    flex-direction: row;
    height: 95%;
}

.bottomBoxLeftMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15%;
    padding-top: 10px;
    padding-left: 10px;
    overflow-y: scroll;
}

.menuTitle {
    font-size: 15px;
    color: var(--secondaryColor);
    letter-spacing: 0.02em;
}

.bottomBoxRightContent {
    display: flex;
    width: 85%;
}

.overlay,
.lightMode,
.darkMode {
    transition: all 0.25s ease-out;
}
