.menuItemContainer {
    /* flex: 1; */
    min-height: 50px !important;
    margin: 10px 0px;
    display: flex;
    background-color: transparent;
    border: none;
}

.menuItemContainerIcon {
    width: 25%;
    padding-left: 0px;
    display: flex;
    align-items: center;
}

.iconBackground {
    height: 70%;
    width: 70%;
    border-radius: 10px;
    background-color: #808191;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuIcon {
    width: 50%;
    fill: var(--secondaryColor);
}

.menuItemContainerDescription {
    width: 75%;
    padding-left: 5px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: var(--secondaryColor);
}

.menuItemContainer:hover .menuIcon {
    fill: white;
}

.menuItemContainer:hover .menuItemContainerDescription {
    color: white;
}

.menuItemContainer:hover .iconBackground {
    background-color: var(--backgroundColor);
}
